@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: '微軟正黑體', 'Microsoft JhengHei', Tahoma, Verdana, Arial, sans-serif; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(25px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  80% {
    transform: translateX(-25px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(150px); }
  80% {
    transform: translateY(-25px);
    transform: rotate(-10deg); }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: rotate(-25deg); } }

.header-sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0 !important;
  z-index: 99999;
  transition: all 0.6s;
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 1.5rem 0 1.5rem 0 !important; }

.section {
  padding: 7rem 0; }

.heading-secondary {
  text-align: center;
  font-size: 4rem;
  font-weight: 300; }
  .heading-secondary.light {
    color: #faf9f9; }
  .heading-secondary.dark {
    color: #555555; }
  .heading-secondary::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    margin: 30px auto 60px auto; }

.heading-tertiary {
  font-size: 2.4rem;
  color: #333333; }

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/pomelo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh; }
  .header .contact-info {
    position: absolute;
    width: 100%;
    color: #faf9f9;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3); }
    .header .contact-info span:first-child {
      margin-right: 3rem; }
  .header .navigation {
    position: absolute;
    top: 50px;
    width: 100%;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.6s;
    padding: 3rem 0 3rem 0; }
    .header .navigation__list {
      list-style: none;
      display: flex;
      justify-content: center; }
    .header .navigation__item {
      display: inline-block;
      font-size: 2.5rem; }
      .header .navigation__item:not(:last-child) {
        margin-right: 3rem; }
      .header .navigation__item a {
        text-decoration: none;
        color: #faf9f9;
        transition: all 0.3s;
        position: relative;
        font-weight: 300; }
        .header .navigation__item a:hover {
          color: #e67e22; }
          .header .navigation__item a:hover::after {
            width: 100%; }
        .header .navigation__item a::after {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '.';
          color: transparent;
          height: 2px;
          transition: all 0.5s;
          background: #e67e22; }
  .header .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    position: relative; }
    .header .text-box .heading-primary {
      font-size: 5rem;
      animation: moveInLeft 1s ease-out; }
    .header .text-box .heading-primary-sub {
      position: relative;
      margin-right: -17px;
      margin-top: 1rem;
      font-size: 3.5rem;
      color: #e67e22;
      letter-spacing: 17px;
      animation: moveInRight 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 0.5s;
      z-index: 50; }
    .header .text-box i {
      margin-top: 2rem;
      color: rgba(255, 255, 0, 0.9);
      font-size: 6.2rem;
      transform: rotate(-25deg);
      transition: transform 0.2s;
      z-index: 1;
      animation: moveInTop 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s; }
      .header .text-box i:hover {
        transform: rotate(0); }

.story {
  background-color: #faf9f9; }
  .story__block {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    transform: skewX(-12deg);
    display: flex;
    align-items: center;
    padding: 6rem;
    margin-bottom: 9rem;
    box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0.15); }
    .story__block__image {
      position: relative;
      width: 50rem;
      border-radius: 50%;
      box-sizing: content-box;
      border: 8px solid #e67e22;
      border-radius: 50%;
      transform: skewX(12deg);
      overflow: hidden;
      box-sizing: content-box; }
      .story__block__image img {
        width: 100%;
        height: 100%;
        transform: scale(1.03);
        transition: all 0.3s; }
      .story__block__image:hover img {
        transform: scale(1.1);
        filter: blur(5px) brightness(50%); }
      .story__block__image:hover figcaption {
        transform: translate(-50%, -50%);
        opacity: 1; }
      .story__block__image figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        opacity: 0;
        transition: all 0.3s;
        font-size: 2.8rem;
        color: #faf9f9;
        font-weight: 300; }
    .story__block__text {
      font-size: 1.1rem;
      transform: translateX(3rem) skewX(12deg); }

.introduction {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 7rem 7rem;
  box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.2); }
  .introduction .pomelo-intro {
    display: flex;
    justify-content: space-between; }
    .introduction .pomelo-intro__item {
      width: 250px;
      background-color: rgba(225, 225, 225, 0.8);
      border-radius: 3px;
      font-size: 1.2rem;
      padding: 2.6rem;
      text-align: center;
      transition: all 0.3s; }
      .introduction .pomelo-intro__item i {
        background-image: linear-gradient(to right bottom, #ff902e, #e06900);
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        font-size: 5.5rem;
        margin-bottom: 3rem; }
      .introduction .pomelo-intro__item--text {
        margin-top: 2rem;
        font-size: 1.7rem; }
      .introduction .pomelo-intro__item:hover {
        transform: scale(1.05) translateY(-15px);
        box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.3); }
