.header-sticky {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0 !important;
  z-index: 99999;
  transition: all 0.6s;
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 1rem 0 1rem 0 !important;
}

.section {
  padding: 7rem 0;
}

.heading-secondary {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;

  @media only screen and (max-width: 700px) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: 500px) {
    font-size: 3rem;
  }

  &.light {
    color: $color-grey-light-1;
  }

  &.dark {
    color: $color-grey-dark-2;
  }

  &::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 2px;
    background-color: $color-primary-orange;
    margin: 30px auto 60px auto;
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  color: $color-grey-dark-1;

  @media only screen and (max-width: 500px) {
    font-size: 2.1rem;
  }
}

.orange-text {
  color: $color-primary-orange-dark;
}

#album-modal {
  text-align: center;
  background: transparent;
  box-shadow: none;
  height: auto;
  top: 40px;
}
