.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/pomelo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    background-attachment: scroll !important;
    background-position: 50% !important;
  }

  .contact-info {
    position: absolute;
    width: 100%;
    height: 30px;
    color: $color-grey-light-1;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: 500px) {
      display: none;
    }

    span {
      &:first-child {
        margin-right: 3rem;
        margin-left: -3rem;
      }
    }
  }

  .navigation {
    position: absolute;
    top: 50px;
    width: 100%;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.6s;
    padding: 2rem 0 2rem 0;

    @media only screen and (max-width: 500px) {
      position: fixed;
      left: 0;
      top: 0;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    &__item {
      display: inline-block;
      font-size: 2.5rem;

      @media only screen and (max-width: 600px) {
        font-size: 2.1rem;
      }

      &:not(:last-child) {
        margin-right: 3rem;
      }

      a {
        text-decoration: none;
        color: $color-grey-light-1;
        transition: all 0.3s;
        position: relative;
        font-weight: 300;

        &:hover {
          color: $color-primary-orange;

          &::after {
            width: 100%;
          }
        }

        &::after {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '.';
          color: transparent;
          height: 2px;
          transition: all 0.5s;
          background: $color-primary-orange;
        }
      }
    }
  }

  .text-box {
    @include absCenter;
    color: #fff;
    text-align: center;
    position: relative;

    .heading-primary {
      font-size: 5rem;
      animation: moveInLeft 1s ease-out;

      @media only screen and (max-width: 700px) {
        font-size: 4rem;
      }
    }

    .heading-primary-sub {
      position: relative;
      margin-right: -17px;
      margin-top: 1rem;
      font-size: 3.5rem;
      color: $color-primary-orange;
      letter-spacing: 17px;
      animation: moveInRight 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 0.5s;
      z-index: 50;

      @media only screen and (max-width: 700px) {
        font-size: 2.5rem;
      }
    }

    i {
      margin-top: 2rem;
      color: rgba(yellow, 0.9);
      font-size: 6.2rem;
      transform: rotate(-25deg);
      transition: transform 0.2s;
      z-index: 1;
      animation: moveInTop 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s;

      @media only screen and (max-width: 700px) {
        font-size: 5.2rem;
      }

      &:hover {
        transform: rotate(0);
      }
    }
  }
}

.story {
  background-image: linear-gradient(
      to right,
      rgba(225, 225, 225, 0.93),
      rgba(225, 225, 225, 0.93)
    ),
    url(../img/pomelo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__block {
    background-color: #fff;
    border-radius: 3px;
    width: 60%;
    margin: 0 auto;
    transform: skewX(-12deg);
    display: flex;
    align-items: center;
    padding: 6rem;
    margin-bottom: 9rem;
    box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0.15);

    @media only screen and (max-width: 900px) {
      transform: skewX(-6deg);
    }

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 600px) {
      transform: skewX(0);
    }

    &__image {
      position: relative;
      width: 50rem;
      border-radius: 50%;
      box-sizing: content-box;
      border: 8px solid $color-primary-orange;
      border-radius: 50%;
      transform: skewX(12deg);
      overflow: hidden;
      box-sizing: content-box;

      @media only screen and (max-width: 1200px) {
        border: 6px solid $color-primary-orange;
      }

      @media only screen and (max-width: 900px) {
        border: 4px solid $color-primary-orange;
        transform: skewX(6deg);
      }

      @media only screen and (max-width: 750px) {
        width: 17rem;
      }

      @media only screen and (max-width: 600px) {
        transform: skewX(0);
      }

      img {
        width: 100%;
        height: 100%;
        transform: scale(1.05);
        transition: all 0.3s;
      }

      &:hover {
        img {
          transform: scale(1.19);
          filter: blur(5px) brightness(50%);
        }

        figcaption {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }

      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        opacity: 0;
        transition: all 0.3s;
        font-size: 2.8rem;
        color: $color-grey-light-1;
        font-weight: 300;
      }
    }

    &__text {
      font-size: 1.5rem;
      transform: translateX(3rem) skewX(12deg);

      @media only screen and (max-width: 900px) {
        transform: translateX(3rem) skewX(6deg);
      }

      @media only screen and (max-width: 750px) {
        transform: skewX(6deg);
        margin: 3rem auto 0 1.5rem;
      }

      @media only screen and (max-width: 600px) {
        transform: skewX(0);
      }
    }
  }
}

.introduction {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 7rem 7rem;
  box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 900px) {
    background-attachment: scroll !important;
    background-position: 20% !important;
  }

  .pomelo-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      justify-content: center;
    }

    &__item {
      width: 250px;
      background-color: rgba(225, 225, 225, 0.8);
      border-radius: 3px;
      font-size: 1.2rem;
      padding: 2.6rem;
      text-align: center;
      transition: all 0.3s;
      margin-bottom: 3rem;

      @media only screen and (max-width: 500px) {
        width: 95%;
      }

      i {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-orange-light,
          $color-primary-orange-dark
        );
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        font-size: 5.5rem;
        margin-bottom: 3rem;
        transition: all 0.3s;
      }

      &--text {
        margin-top: 2rem;
        font-size: 1.7rem;
      }

      &:hover {
        transform: scale(1.05) translateY(-15px);
        box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.3);

        .heading-tertiary {
          color: $color-primary-orange;
          transition: all 0.3s;
        }

        i {
          transform: scale(1.2);
        }
      }
    }
  }
}

.pricing {
  background-color: $color-grey-light-1;
  padding: 7rem 7rem;

  .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .price-box {
    font-size: 2.3rem;
    background-color: #fff;
    flex: 0 0 25%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    color: $color-grey-dark-1;
    transition: all 0.3s;

    @media only screen and (max-width: 1200px) {
      flex: 0 0 30%;
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 800px) {
      width: 60%;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    @media only screen and (max-width: 550px) {
      width: 90%;
    }

    &:hover {
      transform: translateY(10px) scale(1.07);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);

      .price-box__title {
        color: $color-primary-orange-dark;
      }
    }

    &__image {
      background-size: cover;
      height: 23rem;
      border-radius: 3px;

      @media only screen and (max-width: 1000px) {
        height: 20rem;
      }

      &--1 {
        background-image: url(../img/price-1.jpg);
      }

      &--2 {
        background-image: url(../img/price-1.jpg);
      }

      &--3 {
        background-image: url(../img/price-1.jpg);
      }
    }

    &__title {
      border-bottom: 1px solid $color-grey-light-3;
      padding: 1.5rem;
      background-color: $color-grey-light-2;
      font-size: 3.5rem;
      transition: all 0.3s;

      @media only screen and (max-width: 1200px) {
        font-size: 3rem;
      }
    }

    &__details {
      padding: 3rem;
      border-bottom: 1px solid $color-grey-light-3;

      ul {
        list-style: none;
      }

      li {
        text-align: left;
        margin-left: 7rem;
        font-size: 2rem;

        @media only screen and (max-width: 1200px) {
          margin-left: 1rem;
          font-size: 1.9rem;
        }

        i {
          color: $color-primary-orange;
          font-size: 2.1rem;

          @media only screen and (max-width: 1200px) {
            font-size: 1.8rem;
          }
        }
      }
    }

    &__price {
      padding: 1.5rem;
      font-weight: 300;
      color: $color-primary-orange;
      font-size: 5rem;

      @media only screen and (max-width: 1200px) {
        font-size: 4.3rem;
      }

      p {
        margin-left: 2rem;
      }

      span {
        font-size: 2rem;
      }
    }
  }
}

.album {
  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 0 0 25%;

      @media only screen and (max-width: 650px) {
        flex: 0 0 100%;
      }
    }

    &--photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000;

      img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: all 0.5s;

        @media only screen and (max-width: 650px) {
          opacity: 1;
        }
      }

      &:hover img {
        transform: scale(1.01);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.footer {
  background: $color-grey-dark-1;
  padding: 3rem;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .social-links {
    margin: 0 auto;

    .fb-icon {
      color: rgba($color-grey-light-1, 0.7);
      font-size: 3rem;
      transition: color 0.2s;

      &:hover {
        color: $color-grey-light-1;
      }
    }
  }

  .contact {
    color: $color-grey-light-1;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 650px) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: 450px) {
      flex-direction: column;
    }

    span {
      &:first-child {
        margin-right: 3rem;

        @media only screen and (max-width: 450px) {
          margin-right: 0;
          margin-block-end: 1rem;
        }
      }
    }
  }

  .copyright {
    color: $color-grey-light-1;
    font-size: 1.5rem;
  }
}
