.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/pomelo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    background-attachment: scroll !important;
    background-position: 50% !important;
  }

  .contact-info {
    position: absolute;
    width: 100%;
    height: 30px;
    color: $color-grey-light-1;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: 800px) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }

    span {
      &:first-child {
        margin-right: 3rem;
        margin-left: -3rem;
      }
    }
  }

  .navigation {
    position: absolute;
    top: 50px;
    width: 100%;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.6s;
    padding: 2rem 0 2rem 0;

    @media only screen and (max-width: 600px) {
      position: fixed;
      left: 0;
      top: 0;
      padding: 0;
    }

    &__icon {
      display: block;
      margin: 0 auto;
      height: 7rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none;
      padding: 2rem;

      @media only screen and (max-width: 600px) {
        display: block;
      }

      &--line {
        position: relative;
        display: inline-block;
        height: 2px;
        width: 4rem;
        background-color: $color-grey-light-1;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 0.2s;
          display: inline-block;
          height: 2px;
          width: 100%;
          background-color: $color-grey-light-1;
        }

        &::before {
          top: -1rem;
        }

        &::after {
          top: 1rem;
        }
      }

      &:hover,
      &:focus {
        outline: none;

        > .navigation__icon--line {
          background-color: transparent;

          &::before {
            transform: rotate(-135deg);
            top: 0;
          }
          &::after {
            transform: rotate(135deg);
            top: 0;
          }
        }
      }
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        position: relative;
        opacity: 0;
        max-height: 0px;
        visibility: hidden;
        transition: all 0.7s;
      }

      &.active {
        transition: all 0.7s;
        top: 0;
        opacity: 1;
        display: flex;
        visibility: visible;
        max-height: 500px;
      }
    }

    &__item {
      display: inline-block;
      font-size: 2.5rem;

      @media only screen and (max-width: 600px) {
        font-size: 2.1rem;
      }

      @media only screen and (max-width: 600px) {
        display: block;
        margin: 0.5rem 0;
      }

      &:not(:last-child) {
        margin-right: 3rem;

        @media only screen and (max-width: 600px) {
          margin-right: 0;
        }
      }

      a {
        text-decoration: none;
        color: $color-grey-light-1;
        transition: all 0.3s;
        position: relative;
        font-weight: 300;

        &:hover {
          color: $color-primary-orange;

          &::after {
            width: 100%;
          }
        }

        &::after {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '.';
          color: transparent;
          height: 2px;
          transition: all 0.5s;
          background: $color-primary-orange;
        }
      }
    }
  }

  .text-box {
    @include absCenter;
    color: #fff;
    text-align: center;
    position: relative;

    .heading-primary {
      font-size: 3.5rem;
      letter-spacing: 20px;
      margin-right: -20px;
      animation: moveInLeft 1s ease-out;

      @media only screen and (max-width: 700px) {
        font-size: 3rem;
      }
    }

    .heading-primary-sub {
      position: relative;
      margin-right: -3px;
      margin-top: 1.5rem;
      font-size: 3.5rem;
      color: $color-primary-orange;
      letter-spacing: 3px;
      animation: moveInRight 1s ease-out;
      animation-fill-mode: backwards;
      z-index: 50;

      @media only screen and (max-width: 800px) {
        font-size: 2.5rem;
      }

      @media only screen and (max-width: 800px) {
        font-size: 2.5rem;
        letter-spacing: 0;
      }
    }

    i {
      margin-top: 2rem;
      color: rgba(yellow, 0.9);
      font-size: 6.2rem;
      transform: rotate(-25deg);
      transition: transform 0.2s;
      z-index: 1;
      animation: moveInTop 1s ease-out;
      animation-fill-mode: backwards;
      animation-delay: 1s;

      @media only screen and (max-width: 700px) {
        font-size: 5.2rem;
      }

      &:hover {
        transform: rotate(0);
      }
    }
  }
}

.story {
  background-image: linear-gradient(
      to right,
      rgba(225, 225, 225, 0.93),
      rgba(225, 225, 225, 0.93)
    ),
    url(../img/pomelo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  @media only screen and (max-width: 900px) {
    background-attachment: scroll !important;
    background-position: 20% !important;
  }

  &__block {
    background-color: #fff;
    border-radius: 3px;
    width: 60%;
    margin: 0 auto;
    transform: skewX(-12deg);
    display: flex;
    align-items: center;
    padding: 6rem;
    margin-bottom: 9rem;
    box-shadow: 1rem 1.5rem 5rem rgba(0, 0, 0, 0.15);

    &:hover {
      > .story__block__image > img {
        transform: scale(1.19);
        filter: blur(5px) brightness(50%);
      }

      > .story__block__image > figcaption {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }

    @media only screen and (max-width: 900px) {
      transform: skewX(-6deg);
    }

    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 600px) {
      transform: skewX(0);
    }

    &__image {
      flex: 0 0 20%;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 8px solid $color-primary-orange;
      border-radius: 50%;
      transform: skewX(12deg);
      overflow: hidden;
      box-sizing: content-box;

      @media only screen and (max-width: 1200px) {
        border: 6px solid $color-primary-orange;
      }

      @media only screen and (max-width: 900px) {
        border: 4px solid $color-primary-orange;
        transform: skewX(6deg);
      }

      @media only screen and (max-width: 750px) {
        width: 17rem;
      }

      @media only screen and (max-width: 600px) {
        transform: skewX(0);
      }

      img {
        width: 100%;
        height: 100%;
        transform: scale(1.05);
        transition: all 0.3s;
      }

      // &:hover {
      //   img {
      //     transform: scale(1.19);
      //     filter: blur(5px) brightness(50%);
      //   }

      //   figcaption {
      //     transform: translate(-50%, -50%);
      //     opacity: 1;
      //   }
      // }

      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        opacity: 0;
        transition: all 0.3s;
        font-size: 2.8rem;
        color: $color-grey-light-1;
        font-weight: 300;
        text-align: center;
      }
    }

    &__text {
      flex: 1;
      font-size: 2rem;
      transform: translateX(3rem) skewX(12deg);
      line-height: 34px;

      span {
        @media only screen and (max-width: 750px) {
          text-align: center;
        }
      }

      @media only screen and (max-width: 900px) {
        transform: translateX(3rem) skewX(6deg);
      }

      @media only screen and (max-width: 750px) {
        transform: skewX(6deg);
        margin: 3rem auto 0 1.5rem;
      }

      @media only screen and (max-width: 600px) {
        transform: skewX(0);
      }
    }
  }
}

.origin {
  color: $color-grey-dark-1;

  &-container {
    border: 1px dashed $color-primary-orange-dark;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px rgba($color-primary-orange-dark, 0.1),
      0 0 0 10px #fff, 0 0 2px 10px $color-primary-orange-dark;
    width: 70%;
    margin: 0 auto;
    padding: 4rem 4rem;

    &-text {
      font-size: 2.3rem;
      color: $color-grey-dark-1;
      line-height: 34px;

      @media only screen and (max-width: 700px) {
        font-size: 1.9rem;
      }
    }
  }
}

.introduction {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 7rem 7rem;
  box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: 900px) {
    background-attachment: scroll !important;
    background-position: 20% !important;
  }

  .pomelo-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      justify-content: center;
    }

    &__item {
      flex: 0 0 300px;
      background-color: rgba(225, 225, 225, 0.8);
      border-radius: 3px;
      font-size: 1.2rem;
      padding: 2.6rem;
      text-align: center;
      transition: all 0.3s;
      margin-bottom: 3rem;

      @media only screen and (max-width: 500px) {
        width: 95%;
      }

      i {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-orange-light,
          $color-primary-orange-dark
        );
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        font-size: 5.5rem;
        margin-bottom: 3rem;
        transition: all 0.3s;
      }

      &--text {
        margin-top: 2rem;
        font-size: 1.7rem;
        line-height: 29px;
      }

      &:hover {
        transform: scale(1.05) translateY(-15px);
        box-shadow: 0, 1rem 3rem rgba(0, 0, 0, 0.3);

        .heading-tertiary {
          color: $color-primary-orange;
          transition: color 0.5s;
        }

        i {
          transform: scale(1.2);
        }
      }
    }
  }
}

.pricing {
  background-color: $color-grey-light-1;
  padding: 7rem 7rem;

  &-heading {
    font-size: 3.7rem;
    display: inline-block;
    color: $color-grey-dark-1;
    margin-bottom: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 100px;
    background-color: rgba($color-primary-orange, 0.4);

    @media only screen and (max-width: 800px) {
      font-size: 3.3rem;
      text-align: center;
    }

    @media only screen and (max-width: 500px) {
      font-size: 2.8rem;
    }
  }

  .price {
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
    flex-wrap: wrap;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .price-box {
    font-size: 2.3rem;
    background-color: #fff;
    flex: 0 0 22%;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    color: $color-grey-dark-1;
    transition: all 0.3s;
    margin: 3rem 1.5rem;

    @media only screen and (max-width: 1200px) {
      flex: 0 0 30%;
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 800px) {
      width: 60%;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    @media only screen and (max-width: 550px) {
      width: 90%;
    }

    &:hover {
      transform: translateY(10px) scale(1.07);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);

      .price-box__title {
        color: $color-primary-orange-dark;
      }
    }

    &__image {
      background-size: cover;
      height: 23rem;
      border-radius: 3px;

      @media only screen and (max-width: 1000px) {
        height: 20rem;
      }

      &--1 {
        background-image: url(../img/price-1.jpg);
      }

      &--2 {
        background-image: url(../img/price-1.jpg);
      }

      &--3 {
        background-image: url(../img/price-1.jpg);
      }
    }

    &__title {
      border-bottom: 1px solid $color-grey-light-3;
      padding: 1.5rem;
      background-color: $color-grey-light-2;
      font-size: 2.5rem;
      transition: color 0.5s;

      @media only screen and (max-width: 1200px) {
        font-size: 2.2rem;
      }
    }

    &__details {
      padding: 3rem;
      border-bottom: 1px solid $color-grey-light-3;

      ul {
        list-style: none;
        position: relative;
      }

      li {
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        width: 100%;

        @include absCenter;

        @media only screen and (max-width: 1200px) {
          font-size: 1.9rem;
        }

        i {
          color: $color-primary-orange;
          font-size: 1.5rem;
          margin-right: 5px;

          @media only screen and (max-width: 1200px) {
            font-size: 1.3rem;
          }
        }
      }
    }

    &__price {
      padding: 1.5rem;
      font-weight: 300;
      color: $color-primary-orange;
      font-size: 3.5rem;

      @media only screen and (max-width: 1200px) {
        font-size: 3.1rem;
      }

      p {
        margin-left: 2rem;
      }

      span {
        font-size: 2rem;
      }
    }
  }

  .shipping-text {
    font-size: 2.5rem;

    @media only screen and (max-width: 1200px) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }
}

.album {
  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 0 0 25%;

      @media only screen and (max-width: 650px) {
        flex: 0 0 100%;
      }
    }

    &--photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000;

      img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: all 0.5s;

        @media only screen and (max-width: 650px) {
          opacity: 1;
        }
      }

      &:hover img {
        transform: scale(1.01);
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.award {
  background-color: $color-grey-light-1;

  &__text {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    line-height: 40px;
    font-size: 2.7rem;

    @media only screen and (max-width: 700px) {
      width: 90%;
      font-size: 2.1rem;
      line-height: 35px;
    }
  }

  hr {
    margin: 5rem auto;
    border: 0;
    height: 2px;
    width: 80%;
    color: $color-primary-orange-dark;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      $color-primary-orange-dark,
      rgba(0, 0, 0, 0)
    );
  }

  &__image {
    width: 500px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 1rem 2rem 7rem rgba(0, 0, 0, 0.4);

    @media only screen and (max-width: 600px) {
      width: 85%;
    }

    img {
      width: 100%;
    }
  }
}

.map-box {
  position: relative;
  background-color: $color-grey-light-1;

  .map {
    width: 100%;
    height: 580px;
    position: relative;
    z-index: 0;
  }

  .contact-box {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(225, 225, 225, 0.8);
    z-index: 10;

    @media only screen and (max-width: 1000px) {
      position: relative;
      width: 100%;
      height: 500px;
      background-color: $color-grey-light-1;
      transform: translateY(-30px);
    }

    @media only screen and (max-width: 1000px) {
      height: 600px;
    }

    h2 {
      margin-top: 3rem;

      @media only screen and (max-width: 1000px) {
        padding-top: 3rem;
      }
    }

    &__info {
      @include absCenter;
      margin-top: 5rem;

      @media only screen and (max-width: 1000px) {
        margin-top: 4rem;
      }

      ul {
        list-style: none;
      }

      li {
        font-size: 2.2rem;
        font-weight: 300;
        margin: 2rem auto;
        color: $color-grey-dark-1;
        transition: color 0.3s;

        @media only screen and (max-width: 1000px) {
          font-size: 1.8rem;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        i {
          color: $color-primary-orange;
          margin-right: 1rem;
          transition: all 0.3s;
        }

        &:hover {
          color: $color-primary-orange-light;

          i {
            transform: scale(1.2) rotate(-10deg);
            color: $color-primary-orange-light;
          }
        }
      }
    }
  }
}

.footer {
  background: $color-grey-dark-1;
  padding: 3rem;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    color: $color-grey-light-1;
    font-size: 1.5rem;
  }
}

[data-aos].animated {
  transition-duration: initial;
  transition-delay: 0.3s;
}
